.button {
  &--good {
    background: $blue;
    border: none;
    border-radius: 4px;
    color: $white;
    cursor: pointer;
    font-family: $primaryFont;
    font-size: 10px;
    font-weight: 700;
    height: 28px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    width: 100px;
  }
  &--transparent {
    background: rgba(255, 255, 255, 0.2);
    border: solid 1px rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    color: $white;
    cursor: pointer;
    font-family: $primaryFont;
    font-size: 10px;
    font-weight: 700;
    height: 28px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    width: 100px;
  }
  &--bad {

  }
}
