.detail {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  &--scrolly {
    overflow-y: scroll;
  }

  &__title, &__title h2 {
    color: $white;
    font-family: $secondaryFont;
    font-size: 26px;
    margin: 12px auto 4px;
    max-width: 328px;
    text-transform: uppercase;
  }

  &__termsFrame {
    background: $white;
    height: 280px;
    overflow-x: scroll;
    overflow-y: scroll;
    padding: 8px;
    width: 100%;
  }

  &__email {
    color: $white;
    font-family: $primaryFont;
    font-size: 16px;
    margin: 4px auto 4px;
    text-transform: lowercase;
  }

  &__optionList{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__optionItem {
    padding: 8px 0px;
    &--red {
      background: red;
    }
  }

  &__optionItem, &__optionItem a {
    color: $white;
    display: block;
    font-family: $primaryFont;
    font-size: 16px;
    text-decoration: none;
  }

  &__optionItem a {
    border-radius: 4px;
    cursor: pointer;
    padding: 8px 0px;
    width: 100%;
    &:hover {
      background: var(--grad-dark-blue);
    }
  }
}

#detailBrief {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
