$errFontSize: 14px;

#errorHandler {
  align-items: center;
  color: $white;
  display: flex;
  flex-wrap: wrap;
  font-family: $primaryFont;
  justify-content: center;
  text-align: center;
  transition: opacity 0.2s ease-out 0.1s, height 0.2s ease-out, margin 0.2s ease-out;
}

#errorTitle {
  display: inline;
  font-size: $errFontSize;
  text-transform: capitalize;
  & img {
    margin: 0 4px 0 0;
    vertical-align: middle;
  }
}

#errorMessage {
  display: inline;
  font-size: $errFontSize;
  text-transform: capitalize;
}

.errorHandler {
  &--mail {
    font-size: 18px;
  }
  &__text {
    font-weight: normal;
    &:first-letter {
      text-transform: capitalize;
    }
  }
  &__title {
    font-weight: 700;
  }
}
