.footer {
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &__version {
    color: var(--grad-dark-blue);
    display: block;
    font-family: $primaryFont;
    font-size: 8px;
    font-weight: 700;
    margin-bottom: -12px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }
}
