::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

button::-moz-focus-inner {
  border: 0;
}

button {
  outline: 0;
}

.form {
  align-content: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  margin: 0 auto;
  max-width: 98%;

  &__small {
    color: rgba(255, 255, 255, 0.66);
    display: block;
    font-family: $primaryFont;
    font-size: 10px;
    margin: 12px auto 0;
    text-align: center;
    & a {
      color: $white;
    }
  }

  &__group {
    display: block;
    margin: 12px auto;
    width: 100%;
  }

  &__inputLabel {
    color:$white;
    display:block;
    font-size:10px;
    font-family:'Nexa';
    text-transform:uppercase;
    &--inline {
      display: inline-block;
    }
  }

  &__label {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    & input {
      display: block;
      margin: 0 4px 0 0;
    }
    &--inline {
      display: inline-block;
      & input {
        display: inline-block;
      }
    }
    & input {
      padding: 2px 4px;
    }
    & input::placeholder {
      color: $white;
      font-family: $primaryFont;
      font-size: 10px;
      font-weight: 700;
      letter-spacing: 0.8px;
      text-transform: uppercase;
    }
  }

  label#terms {
    text-align: center;
    width: 100%;
  }

  &__wrapper {
    min-height: 50vh;
  }

  &__input {
    background: rgba(255,255,255,0.1);
    border: none;
    border-bottom: 0;
    border-radius: 6px;
    box-sizing: border-box;
    color: var(--text-color);
    display: block;
    font-family: 'Nexa', Helvetica, Arial, sans-serif;
    font-size: 32px;
    height: 10vh;
    margin: 8px auto;
    max-height: 80px;
    max-width: 520px;
    min-height: 50px;
    opacity: 1;
    padding: 8px 18px;
    transition: border-bottom 0.3s ease-out;
    width: 96%;

    &:focus {
      border-bottom: solid 4px #fff;
      outline: 0;
      transition: border-bottom 0.3s ease-out;
    }

    &[type="email"], &[type="password"] {
      margin-bottom: 10px;
      width: calc(100vw - 32px);
    }
  }

  &__button {
    align-items: center;
    align-content: center;
    background: var(--grad-dark-blue);
    border: none;
    border-radius: 18px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-family: 'Nexa', Helvetica, Arial, sans-serif;
    font-size: 28px;
    height: 64px;
    justify-content: center;
    letter-spacing: 4px;
    margin: 64px auto 0;
    max-width: 360px;
    outline: none;
    padding: 18px;
    text-transform: uppercase;
    transform: scale(1);
    transition: background 0.2s ease-out, color 0.2s ease, transform 0.2s ease-out, height 0.2s ease, width 0.2s ease;
    width: 100%;

    &:hover, &:focus {
      background: #eee;
      color: var(--light-blue);
      outline: 0;
    }

    &:disabled {
      background: #ccc;
      color: #555;
      cursor: default;
      outline: 0;
    }

    &--shrink {
      animation: hover ease-in-out 1s 1;
      animation-direction: alternate;
      border-radius: 50%;
      color: transparent;
      height: 64px;
      padding: 0;
      width: 64px;
      &:hover, &:focus {
        background: var(--grad-dark-blue) !important;
        color: transparent !important;
      }
    }

    &--expand {
      animation: expand ease-in-out 0.4s 1;
      border-radius: 50%;
      color: transparent;
      height: 64px !important;
      transform: scale(50);
      transition: transform 0.4s ease-out;
      width: 64px;
      &:hover, &:focus {
        background: var(--grad-dark-blue) !important;
        color: transparent !important;
      }
    }
  }
}

@keyframes hover{
  from {
    transform: translate3D(0, 0, 0);
  }
  to {
    transform: translate3D(0, 20px, 0);
  }
}
@keyframes expand{
  from {
    transform: scale(1);
  }
  to {
    transform: scale(50);
  }
}

/* Media Queries */
@media screen and (max-width: 480px) {
  .form__button {
    font-size: 20px;
    height: 48px;
    margin: 32px auto 0;
    padding: 14px;
  }
  .form__button--shrink {
    border-radius: 50%;
    height: 64px;
    padding: 0;
    width: 64px;
  }
  .form__input {
    font-size: 18px;
    height: 50px;
    padding: 8px 12px;
  }
  [type="email"] {
    margin-bottom: 20px;
  }
}
