.heading {
  display: block;
  margin: auto 0 0;
  max-height: 100px;
  max-width: calc(100vw - 32px);
  overflow: hidden;
  width: 100%;

  & img {
    display: block;
    margin: 0 auto;
    max-height: 66px;
    max-width: 482px;
    width: 90%;
  }

  .logo {
    max-height: 66px;
    max-width: 482px;
  }
}
