.identities {
  margin: 0 0 12px;
  min-height: 50vh;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.id {
  &__generate {
    padding: 8px 4px;
  }

  &__btnClose {
    align-items: center;
    background: $white;
    border-radius: 50%;
    color: var(--grad-light-blue);
    cursor: pointer;
    display: flex;
    font-size: 28px;
    height: 36px;
    justify-content: center;
    line-height: 18px;
    position: absolute;
    padding: 10px 12px 12px 12px;
    right: 8px;
    top: -8px;
    transition: all 0.26s $easeOut2;
    user-select: none;
    width: 36px;
    &:hover {
      background:var(--grad-dark-blue);
      color: $white;
    }
  }

  &__usergen {
    background: var(--grad-light-blue);
    color: $white;
    display: block;
    height: 70vh;
    margin: 0 auto;
    opacity: 0;
    padding: 4px 0px 0px;
    position: absolute;
    top: -65vh;
    transition: opacity 0.36s $easeOut3, top 0.4s $easeOut3;
    width: calc(100vw - 32px);
    z-index: 1;
    &--show {
      opacity: 1;
      top: 200px;
    }
  }

  &__showUserGen {
    align-items: center;
    background: $lighterBlue;
    border: 0;
    border-radius: 8px;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.4);
    color: white;
    cursor: pointer;
    display: flex;
    font-family: $secondaryFont;
    font-size: 10px;
    height: 30px;
    justify-content: center;
    margin: 10px auto 0;
    text-transform: uppercase;
    transition: all 0.2s ease-out, background 0.3s ease-out, box-shadow 0.18s ease-out, transform 0.2s ease-out;
    user-select: none;
    width: 95%;
    &:hover {
      background: var(--grad-dark-blue);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
      transform: translateY(2px);
    }
    &--hidden {
      border: 0;
      cursor: default;
      display: none;
      height: 0;
      margin: 0;
      max-height: 0;
      opacity: 0;
      overflow: hidden;
    }
  }

  &__button {
    align-items: center;
    background: $lighterBlue;
    border: none;
    border-radius: 8px;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    color: $white;
    display: inline-flex;
    flex-wrap: wrap;
    font-family: $primaryFont;
    font-size: 14px;
    font-weight: 700;
    height: 48px;
    justify-content: center;
    letter-spacing: 1px;
    margin: 8px auto 0;
    position: relative;
    transform: translateY(0px);
    transition: all 0.2s ease-out, background 0.3s ease-out, box-shadow 0.18s ease-out, transform 0.2s ease-out;
    width: 96px;
    &:hover {
      background: var(--grad-dark-blue);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
      transform: translateY(2px);
    }
    & img {
      bottom: auto;
      left: auto;
      margin: auto;
      position: absolute;
      right: auto;
      top: 6px;
      width: 100%;
    }
    & div {
      bottom: 4px;
      font-size: 10px;
      left: auto;
      margin: auto;
      position: absolute;
      right: auto;
      top: auto;
      width: 100%;
    }
    &--hidden {
      border: 0;
      cursor: default;
      display: none;
      height: 0;
      margin: 0;
      max-height: 0;
      opacity: 0;
      overflow: hidden;
    }
  }

  &__buttons {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__userRow {
    cursor: pointer;
    color: $white;
    display:grid;
    font-family: $secondaryFont;
    grid-template-columns: 1fr 4fr;
    min-height: 36px;
    overflow: hidden;
    padding: 2px 6px;
    position: relative;
    z-index: 3;
    &:nth-child(odd) {
      background: var(--light-blue);
    }
    &:after {
      align-content: center;
      align-items: center;
      height: 100%;
      content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSIjZmZmIiBkPSJNMTggNlYwSDB2MThoNnY2aDE4VjZoLTZ6TTYgMTZIMlYyaDE0djRINnYxMHptMTYgNkg4VjhoMTR2MTR6Ii8+PC9zdmc+");
      display: flex;
      position: absolute;
      right: -30px;
      top: 4px;
      transition: right 0.18s ease-out;
      // z-index: 2;
    }
    &:hover {
      &:after {
        right: 4px;
      }
    }
  }

  &__key {
    font-size: 16px;
    font-weight: 700;
    margin: 8px 8px 0 0;
    text-align: right;
    min-width: 76px;
  }

  &__value {
    font-size: 14px;
    margin: 8px 0 0 8px;
    text-align: left;
  }
}
