.idList {
  list-style-type: none;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  padding: 0;
  &__item {
    border-radius: 4px;
    display: block;
    margin: auto;
    opacity: 1;
    padding: 8px 0px 8px 8px;
    position: relative;
    transition: background 0.12s $easeOut1, opacity 100ms ease-out, transform 125ms ease-out;
    width: 92%;
    &:hover {
      background: var(--grad-dark-blue);
      cursor: pointer;
      & .idList__itemOptions {
        right: 0;
      }
    }
    &--hide {
      opacity: 0;
      transform: scale(0.6);
    }
  }
  &__itemOptions {
    align-content: center;
    align-items: center;
    background: $blue;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0iI2VlZSIgZD0iTTE4IDZWMEgwdjE4aDZ2NmgxOFY2aC02ek02IDE2SDJWMmgxNHY0SDZ2MTB6bTE2IDZIOFY4aDE0djE0eiIvPjwvc3ZnPg==");
    background-repeat: no-repeat;
    background-position: center center;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    display: flex;
    font-family: $primaryFont;
    font-size: 40px;
    height: 48px;
    justify-content: center;
    letter-spacing: -3px;
    position: absolute;
    right: -60px;
    top: 0;
    transition: right 0.2s ease-out;
    width: 48px;
  }
  &__identityWrapper {
    color: $white;
    display: grid;
    grid-template-columns: 1fr 8fr;
    height: 32px;
    max-width: $maxWidth - ($padding * 2);
    overflow: hidden;
    text-decoration: none;
    width: 100%;
  }
  &__title {
    font-family: $primaryFont;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1.6px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
  }
  &__username {
    font-family: $primaryFont;
    font-size: 16px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__image {
    height: 32px;
    width: 32px;
  }
  &__details {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-height: 32px;
    max-width: 298px;
    text-overflow: ellipsis;
  }
}
