.input {
  &__search {
    background: rgba(255, 255, 255, 0.2);
    background-image: url('../images/magnifier.svg');
    background-position: 4px center;
    background-repeat: no-repeat;
    border: 0;
    border-radius: 4px;
    color: #fff;
    font-size: 20px;
    height: 36px;
    padding: 4px 8px 4px 36px;
    width: 98%;

    &::placeholder {
      color: rgba(255, 255, 255, 0.66);
    }
  }
}
