.legal {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px auto 40px;
  & h1,h2,h3,h4,h5,h6 {
    color: #000;
    font-family: $fontSerif;
  }
  & p {
    font-size: 12px;
  }
  &__logo {
    align-items: center;
    background: $lighterBlue;
    display: flex;
    justify-content: center;
  }
  &__contract{
    background: $white;
    color: #000;
    font-family: $fontSerif;
    max-height: 500px;
    overflow-y: scroll;
    padding: 8px;
  }
  &__navigation {
    align-items: center;
    background: $lighterBlue;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    height: 40px;
  }
  &__navItem {
    color: $white;
    font-family: $secondaryFont;
    font-size: 14px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
  }
}
