// Delcare variables
$width: 33px;
$dist-x: 46px;
$dist-y: 46px;

/* Center Blob */
@keyframes blob-center{
  0%{
    transform:scale(1.2);
  }
  24%{
    transform:scale(0.8);
  }
  52%{
    transform:scale(0.6);
  }
  100%{
    transform:scale(1.2);
  }
}
/* Blob #1 */
@keyframes blob-left-top-anim{
  4%{
    transform:scale(1.2) translate3D(0,0,0);
  }
  28%{
    transform:scale(0.8) translate3D(-($dist-x * 2), 0, 0);
  }
  56%{
    transform:scale(0.6) translate3D(-($dist-x * 0.92), -($dist-y * 0.9), 0);
  }
  96%{
    transform:scale(1.2) translate3D(0,0,0);
  }
}
/* Blob #2 */
@keyframes blob-left-bottom-anim{
  1%{
    transform:scale(1.2) translate3D(0,0,0);
  }
  26%{
    transform:scale(0.8) translate3D(-$dist-x, 0, 0);
  }
  58%{
    transform:scale(0.6) translate3D(-($dist-x * 0.92), ($dist-y * 0.9), 0);
  }
  98%{
    transform:scale(1.2) translate3D(0,0,0);
  }
}
/* Blob #4 */
@keyframes blob-right-bottom-anim{
  4%{
    transform:scale(1.2) translate3D(0,0,0);
  }
  26%{
    transform:scale(0.8) translate3D($dist-x * 2, 0, 0);
  }
  54%{
    transform:scale(0.6) translate3D($dist-x * 0.75, ($dist-y * 0.75),0);
  }
  96%{
    transform:scale(1.2) translate3D(0,0,0);
  }
}
/* Blob #3 */
@keyframes blob-right-top-anim{
  0%{
    transform:scale(1.2) translate3D(0,0,0);
  }
  28%{
    transform:scale(0.8) translate3D($dist-x, 0,0);
  }
  58%{
    transform:scale(0.6) translate3D($dist-x * 0.75, -($dist-y * 0.75),0);
  }
  100%{
    transform:scale(1.2) translate3D(0,0,0);
  }
}

// Error animations...

@keyframes blob-error-top-left {
  from {
    transform: scale(1.2) translate3D(0, 0, 0);
  }
  to {
    transform: scale(0.8) translate3D(-($dist-x * 0.69), -($dist-y * 0.69), 0);
  }
}

@keyframes blob-error-bottom-left {
  from {
    transform: scale(1.2) translate3D(0, 0, 0);
  }
  to {
    transform: scale(0.8) translate3D(-($dist-x * 0.69), ($dist-y * 0.69), 0);
  }
}

@keyframes blob-error-top-right {
  from {
    transform: scale(1.2) translate3D(0, 0, 0);
  }
  to {
    transform: scale(0.8) translate3D(($dist-x * 0.69), -($dist-y * 0.69), 0);
  }
}

@keyframes blob-error-bottom-right {
  from {
    transform: scale(1.2) translate3D(0, 0, 0);
  }
  to {
    transform: scale(0.8) translate3D(($dist-x * 0.69), ($dist-y * 0.69), 0);
  }
}

// Success animations...

@keyframes blob-success-check-1 {
  from {
    transform: scale(1.2) translate3D(0, 0, 0);
  }
  to {
    transform: scale(0.8) translate3D(-36px, -24px, 0);
  }
}
@keyframes blob-success-check-2 {
  from {
    transform: scale(1.2) translate3D(0, 0, 0);
  }
  to {
    transform: scale(0.8) translate3D(0, 0, 0);
  }
}
@keyframes blob-success-check-3 {
  from {
    transform: scale(1.2) translate3D(0, 0, 0);
  }
  to {
    transform: scale(0.8) translate3D(28px, -24px, 0);
  }
}
@keyframes blob-success-check-4 {
  from {
    transform: scale(1.2) translate3D(0, 0, 0);
  }
  to {
    transform: scale(0.8) translate3D(56px, -48px, 0);
  }
}
@keyframes blob-success-check-5 {
  from {
    transform: scale(1.2) translate3D(0, 0, 0);
  }
  to {
    transform: scale(0.8) translate3D(84px, -72px, 0);
  }
}

.loader {
  border-radius: 0;
  display: grid;
  height: 100vh;
  opacity: 1;
  position: absolute;
  visibility: visible;
  width: 100vw;

  &--hide {
    height: 0px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 1px;
    opacity: 0;
    & .loader__blobs, & .loader__text {
      opacity: 0;
    }
  }

  &__blobs {
    bottom:0;
    filter:url('#goo');
    left: 0;
    position: relative;
    right:0;
    top: 0;
    transform: translate3D(0, 0, 0);
    transition: opacity 2s cubic-bezier(.08,.82,.17,1) 0.45s;

    &--error .loader__blob {
      background: #f79696;
      background: #fe3c3c;
      &:nth-child(1) {
        animation: none;
        transform: scale(0.8);
      }
      &:nth-child(2) {
        animation: blob-error-top-left cubic-bezier(.08,.82,.17,1) 0.4s 1;
        animation-fill-mode: forwards;
      }
      &:nth-child(3) {
        animation: blob-error-bottom-left cubic-bezier(.08,.82,.17,1) 0.4s 1;
        animation-fill-mode: forwards;
      }
      &:nth-child(4) {
        animation: blob-error-top-right cubic-bezier(.08,.82,.17,1) 0.4s 1;
        animation-fill-mode: forwards;
      }
      &:nth-child(5) {
        animation: blob-error-bottom-right cubic-bezier(.08,.82,.17,1) 0.4s 1;
        animation-fill-mode: forwards;
      }
    }

    &--success .loader__blob {
      &:nth-child(1) {
        animation: blob-success-check-1 cubic-bezier(.08,.82,.17,1) 0.4s 1;
        animation-fill-mode: forwards;
      }
      &:nth-child(2) {
        animation: blob-success-check-2 cubic-bezier(.08,.82,.17,1) 0.4s 1;
        animation-fill-mode: forwards;
      }
      &:nth-child(3) {
        animation: blob-success-check-3 cubic-bezier(.08,.82,.17,1) 0.4s 1;
        animation-fill-mode: forwards;
      }
      &:nth-child(4) {
        animation: blob-success-check-4 cubic-bezier(.08,.82,.17,1) 0.4s 1;
        animation-fill-mode: forwards;
      }
      &:nth-child(5) {
        animation: blob-success-check-5 cubic-bezier(.08,.82,.17,1) 0.4s 1;
        animation-fill-mode: forwards;
      }
    }

  }

  &__blob {
    animation: blob-center cubic-bezier(.88,-0.1,.18,1.25) 3.66s infinite;
    background: #93BCFF;
    backface-visibility: hidden;
    border-radius: 100%;
    height: $width;
    left: calc(50vw - 16.5px);
    margin: 0;
    position: absolute;
    top: calc(50vh - 16.5px);
    width: $width;

    /* Blob 1 */
    &:nth-child(2){
      animation-name: blob-left-top-anim;
    }

    /* Blob 2 */
    &:nth-child(3){
      animation-name: blob-left-bottom-anim;
    }

    /* Blob 3 */
    &:nth-child(4){
      animation-name: blob-right-top-anim;
    }

    /* Blob 4 */
    &:nth-child(5){
      animation-name: blob-right-bottom-anim;
    }
  }

  &__text {
    color: #fff;
    font-family: 'Nexa', Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3px;
    opacity: 1;
    text-align: center;
    text-transform: uppercase;
    transition: opacity 3s cubic-bezier(.08,.82,.17,1) 0.45s;
  }
}
