.main{
  &__content {
    color: $white;
    font-family: $primaryFont;
    font-size: 14px;
    margin: 0 -16px;
    overflow: hidden;
    padding: 10px;


    & h2 {
      font-size: 20px;
      font-weight: 700;
      margin: 0 0 8px 0;
    }

    & p {
      font-size: 18px;
      line-height: 32px;
    }

    & a {
      color: #fff;
      text-decoration: underline;
    }

    & #errorHandler {
      height: 0;
      margin: 0;
      opacity: 0;
    }
  }

  



}
