.mail {

  &__title {
    color: $white;
    font-size: 60px;
    font-weight: normal;
    letter-spacing: 2px;
    & h2 {
      margin: 16px 0 0 0;
    }
  }

  &__nav {
    align-items: flex-end;
    color: $white;
    display: flex;
    font-size: 12px;
    font-weight: normal;
    height: 100%;
    justify-content: space-around;
    letter-spacing: 1.5px;
    list-style-type: none;
    margin: 0;
    padding: 0 0 12px 0;
    text-transform: uppercase;
  }

  &__navItem {
    cursor: pointer;
    font-family: $primaryFont;
    position: relative;
    &:before {
      background: $white;
      bottom: auto;
      content: '';
      height: 2px;
      left: 0;
      margin: auto;
      opacity: 0;
      position: absolute;
      right: 0;
      top: -4px;
      transition: top 180ms ease-out, opacity 120ms ease-out;
      width: 102%;
    }
    &--selected {
      &:before {
        opacity: 1;
        top: 14px;
      }
    }
  }

  &__subNavItem {
    align-content: center;
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 8px;
  }

  &__navText {
    display: flex;
    letter-spacing: 0;
    font-family: $primaryFont;
    font-size: 10px;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }

  &__navIcon {
    height: 18px;
    margin: 0 0 6px 0;
    width: 18px;
  }

  &__box {
    align-content: flex-start;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0 -8px 8px -8px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 4px;

    &--empty {
      align-content: center;
      align-items: center;
      color: $white;
      font-family: $primaryFont;
      font-size: 20px;
      justify-content: center;
    }

    &--message {
      align-items: flex-start;
      background: $white;
      color: var(--dark-blue);
      flex-wrap: wrap;
      font-family: $primaryFont;
      font-size: 20px;
      justify-content: flex-start;
      margin: 0 -8px;
      overflow: hidden;
    }
  }

  &__messageHeader {
    align-content: center;
    background: rgba(37, 91, 222, 0.9);
    border-radius: 4px;
    color: $white;
    display: flex;
    flex-wrap: wrap;
    height: 70px;
    justify-content: flex-start;
    padding: 4px;
    width: 100%;
  }

  &__boxMessage {
    background: rgba(255, 255, 255, 0.1);
    color: $white;
    cursor: pointer;
    display: grid;
    font-family: $primaryFont;
    grid-template-columns: 1fr 6.25fr 2.66fr 1.33fr;
    height: 70px;
    margin: 2px auto;
    width: 100%;
    &--unread {
      background: rgba(255, 255, 255, 0.25);
      & * {
        font-weight: 700 !important;
      }
    }
  }
}

.message {

  &__headerSubject {
    display: flex;
    font-size: 14px;
    font-weight: normal;
    width: 100%;
    & span:first-child {
      display: inline-block;
      font-weight: 700;
      margin-right: 6px;
      text-align: right;
      width: 64px;
    }
    & span:last-child {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 75%;
      white-space: nowrap;
    }
  }

  &__headerData {
    display: flex;
    font-size: 12px;
    font-weight: normal;
    white-space: nowrap;
    width: 100%;
    & span:first-child {
      display: inline-block;
      font-weight: 700;
      margin-right: 6px;
      text-align: right;
      width: 64px;
    }
    & span:last-child {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 75%;
      white-space: nowrap;
    }
  }

  &__nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 44px;
    justify-content: flex-end;
    margin: -18px -4px 0;
    position: relative;
    width: 100vw;
    z-index: 9;
  }

  &__navItem {
    align-items: center;
    background: var(--light-blue);
    color: var(--text-color);
    cursor: pointer;
    display: inline-flex;
    font-family: $primaryFont;
    font-size: 14px;
    font-weight: normal;
    height: 44px;
    justify-content: center;
    text-align: center;
    transition: background 0.2s ease-out;
    &:hover {
      background: var(--dark-blue);
    }
    & img {
      user-select: none;
    }
  }

  &__message {
    width: 100%;
  }

  &__contents {
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 8px 8px 20px 8px;
    display: block;
    height: 48.666vh;
    width: 100%;
  }

  &__checkbox {
    align-self: center;
    display: flex;
    justify-content: center;
  }

  &__details {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    & * {
      font-weight: normal;
      letter-spacing: 0.5px;
      max-width: 180px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__title {
    font-size: 16px;
    margin: 0;
    width: 100%;
  }

  &__sender {
    font-size: 10px;
    width: 100%;
  }

  &__date {
    align-self: center;
    display: flex;
    font-size: 10px;
    justify-content: center;
    opacity: 0.3;
  }

  &__expiration {
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 10px;
    justify-content: center;
    margin: -16px 0 0 0;
    opacity: 0.7;
  }

  &__expirationIcon {
    display: flex;
    height: 16px;
    width: 16px;
  }

  &__expirationTitle {
    display: flex;
    font-size: 10px;
  }

  &__replyBox {
    background: $white;
    bottom: 78px;
    height: 312px;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    transition: background .14s ease-out, color .14s ease-out, height 0.3s ease-out .16s;
    width: 100%;
    z-index: 2;
    &--minimize {
      background: var(--dark-blue);
      bottom: 122px;
      color: $white;
      cursor: pointer;
      height: 40px;
      padding: 0 4px;
      transition: background .14s ease-out, color .14s ease-out, height 0.3s ease-out .16s;
      & .replyBox{
        display: none !important;
        height: 0 !important;
      }
      &:after {
        content: "Reply Minimized";
        display: flex;
        font-size: 14px;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: flex-end;
      }
    }
  }

}
