.modify {
  overflow-y: scroll;
  padding: 0 14px;
  &__title{
    & h2 {
      color: $white;
      font-family: $primaryFont;
      font-size: 24px;
      margin: 10px auto 4px;
      text-align: center;
      text-transform: uppercase;
    }
  }
  &__group {
    border-bottom: solid 1px $white;
    display: block;
    margin: 0 auto 16px;
    &:last-child {
      border-bottom: none;
    }
  }
  &__label {
    color: $white;
    display: inline-block;
    font-family: $primaryFont;
    font-size: 10px;
    margin: 8px auto;
    text-transform: uppercase;
    & input {
      border: none;
      border-radius: 4px;
      display: block;
      font-family: $primaryFont;
      font-size: 16px;
      height: 28px;
      width: 100%;
    }
  }
}
