.navBox {
  background: darken(#255bde, 5%);
  border-bottom: solid 1px darken(#255bde, 10%);
  height: 40px;
  margin: -16px -16px 0 -16px;
  padding: 8px 4px;
  &__link {
    align-items: center;
    border-radius: 4px;
    color: var(--text-color);
    display: inline-flex;
    font-family: $primaryFont;
    font-size: 16px;
    justify-content: center;
    opacity: 1;
    padding: 4px 8px 2px 8px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: background 0.12s $easeOut1;
    &:hover {
      background: var(--grad-dark-blue);
    }
  }
}
