#nav {
  position: relative;
  z-index: 9;
}

.nav {
  height: 100%;
  margin: 0 -16px;
}
.navList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 100%;
  margin: 0;
  max-width: 100vw;
  padding: 0;
  width: 100%;
  &__item {
    //
    align-content: flex-start;
    background: rgb(37,91,222);
    background: linear-gradient(360deg, var(--grad-light-blue) 0%, var(--grad-light-blue) 50%, var(--grad-dark-blue) 100%);
    background-position: 0 100%;
    background-size: 100% 200%;
    color: $white;
    cursor: pointer;
    display: flex;
    font-family: $primaryFont;
    font-size: 14px;
    font-weight: 700;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    position: relative;
    text-align: center;
    transition: background-position 0.2s ease-out;
    & a {
      display: block;
      padding: 36px 8px 8px;
      position: relative;
      z-index: 9;
    }
    &::after {
      content: '';
      height: 24px;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      top: 4px;
      width: 24px;
    }
    &:last-child {
      border-right: none;
    }
    &--home{
      &::after {
        background: url('../images/home.svg');
      }
    }
    &--identities{
      &::after {
        background: url('../images/user-2.svg');
      }
    }
    &--pwGenerator{
      &::after {
        background: url('../images/key-1.svg');
      }
    }
    &--settings{
      &::after {
        background: url('../images/gear.svg');
      }
    }
    &--mail{
      &::after {
        background: url('../images/mail.svg');
      }
    }
    & a {
      color: var(--text-color);
      display: block;
      text-decoration: none;
      transition: transform 0.1s cubic-bezier(.39,.58,.57,1);
    }
    &:hover {
      background-position: 0 0;
    }
  }
}
