.pwGen {
  & hr {
    margin: 8px auto;
  }

  &__button {
    align-items: center;
    background: darken($blue, 5%);
    border-radius: 4px;
    color: $white;
    display: inline-flex;
    font-size: 20px;
    height: 28px;
    justify-content: center;
    text-decoration: none;
    width: 28px;
  }

  &__length {
    width: 80px;
  }

  &__password {
    width: calc(100% - 32px);
  }

  &__wrapper {
    display: block;
    margin: 12px auto;
    width: 80%;
  }

  &__title {
    & h2 {
      margin: 10px auto;
    }
  }

  &__subTitle {
    color: $white;
    font-family: $primaryFont;
    font-size: 14px;
    margin: 20px 0 -8px 0;
    text-transform: uppercase;
  }

  &__copy {
    background: $lighterBlue;
    border: none;
    border-radius: 6px;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    color: $white;
    display: block;
    font-family: $primaryFont;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0 auto;
    padding: 6px 12px;
    transform: translateY(0px);
    transition: background 0.3s ease-out, box-shadow 0.18s ease-out, transform 0.2s ease-out;
    width: 100%;
    &:hover {
      background: var(--grad-dark-blue);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
      transform: translateY(2px);
    }
  }

}
