.replyBox {
  align-items: flex-start;
  background: #fafafa;
  display: flex;
  flex-wrap: wrap;
  height: 264px;
  justify-content: center;
  width: 100vw;

  &__textarea {
    background: $white;
    border: solid 1px #f0f0f0;
    box-shadow: none;
    display: flex;
    font-family: $primaryFont;
    font-size: 18px;
    height: calc(100% - 50px);
    padding: 8px;
    resize: none;
    width: 100%;
  }

  &__button {
    align-items: center;
    align-content: center;
    background: $lighterBlue;
    border: 0;
    border-radius: 6px;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.4);
    color: $white;
    cursor: pointer;
    display: inline-flex;
    font-family: $primaryFont;
    font-size: 16px;
    font-weight: 700;
    height: 36px;
    letter-spacing: 1px;
    justify-content: center;
    margin: 8px;
    padding: 6px 12px;
    text-align: center;
    transform: translateY(0px);
    transition: background 0.3s ease-out, box-shadow 0.18s ease-out, transform 0.2s ease-out;
    width: 40vw;
    &:hover {
      background: var(--grad-dark-blue);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
      transform: translateY(2px);
    }
  }

  &__btnMinimize {
    background: rgba(255, 255, 255, 0.8);
    border: solid 1px #000;
    border-radius: 4px;
    cursor: pointer;
    font-size: 40px;
    line-height: 20px;
    padding: 4px 6px 8px;
    position: absolute;
    right: 14px;
    top: 4px;
    z-index: 5;
  }
}
