* {
  box-sizing: border-box;
}

html {
  height: 600px;
  overflow: hidden;
  width: 360px;
}

body {
  box-sizing: border-box;
  margin: 0;
  max-width: 100vw;
  overflow: hidden;
  padding: 0;
  height: 600px;
  width: 360px;
}

h2 {
  color: $white;
  font-family: $primaryFont;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
}

label {
  color: $white;
  font-family: $primaryFont;
}

hr {
  border-color: rgba(255, 255, 255, 1);
  margin: 8px auto 18px;
  width: 80%;
}

.hr {
  &--full {
    width: 100%;
  }
}

input {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 4px;
  color: $white;
  font-family: $primaryFont;
  font-size: 14px;
  height: 28px;
  outline: none;
}

meter {
  // appearance: none;
  background: none;
  background-color: rgba(255,255,255,0.2);
  height: .5em;
  margin: 0 auto 1em;
  width: 100%;
}

meter::-webkit-meter-bar {
  background: none;
  background-color: rgba(255,255,255,0.2);
  border-radius: 4px;
}

meter::-webkit-meter-optimum-value{
  border-radius: 4px;
}

meter::-moz-meter-bar {
  border-radius: 4px;
}

meter[value="1"]::-webkit-meter-optimum-value {
  // background: #c00;
  background: $white;
}
meter[value="2"]::-webkit-meter-optimum-value {
  // background: #cc0;
  background: $white;
}
meter[value="3"]::-webkit-meter-optimum-value {
  // background: #fc0;
  background: $white;
}
meter[value="4"]::-webkit-meter-optimum-value {
  // background: #0c3;
  background: $white;
}

meter[value="1"]::-moz-meter-bar {
  // background: #c00;
  background: $white;
}
meter[value="2"]::-moz-meter-bar {
  // background: #ff0;
  background: $white;
}
meter[value="3"]::-moz-meter-bar {
  // background: #fc0;
  background: $white;
}
meter[value="4"]::-moz-meter-bar {
  // background: #0c3;
  background: $white;
}

.hidden {
  display: none;
  visibility: hidden;
}

.bold {
  font-weight: 700;
}

.no-margin {
  margin: 0 !important;
}

.link {
  color: $white;
  text-decoration: underline;
}

#agree {
  vertical-align: middle;
}

.vertical-middle {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

.container {
  align-content: center;
  display: flex;
  height: 100vh;
}

.title {
  font-family: $secondaryFont;
  font-size: 26px;
  margin: 12px auto 8px;
}

/* Setup custom font */
@font-face {
  font-family: 'Nexa'; /*a name to be used later*/
  src: url('../font/NexaRegular.woff'); /*URL to font*/
}
