.slideshow {
  display: grid;
  grid-template-columns: 100vw 100vw 100vw;
  transition: transform 0.24s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  width: calc(100vw - 32px);
  &__navigation {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 1fr 1fr;
    // margin: 0 auto 0 -16px;
    margin: 0 auto;
    max-width: 360px;
    width: 100%;
    & div:nth-child(1) {
      display: grid;
      justify-items: end;
    }
    & div:nth-child(2) {
      display: grid;
      justify-items: start;
    }
  }
  &__btnNav {
    background: var(--grad-light-blue);
    border: 0;
    border-radius: 8px;
    color: $white;
    cursor: pointer;
    height: 32px;
    outline: 0;
    padding: 8px;
    width: 32px;
    &:focus, &:active {
      outline: 0;
    }
    & svg {
      background: transparent;
      border-radius: 50%;
      margin: -8px 0 0;
      padding: 8px;
      transition: all 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }
    & svg path {
      transition: all 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }
    &:hover svg{
      background: #fff;
    }
    &:hover svg path {
      fill: var(--grad-light-blue);
    }
  }
}
