.spinner {
  align-items: center;
  background: rgba(0, 0, 0, 0.88);
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
  z-index: 2;

  &__hidden {
    margin: 0 0 0 0;
    opacity: 0;
    position: absolute;
    transition: all 0.3s $easeOut1;
  }

  &__visible {
    margin: 0 0 0 0;
    opacity: 1;
    position: absolute;
    transition: all 0.3s $easeOut1;
  }

}
