.subscription {
  background: $paneBg;
  border-radius: 4px;
  margin: 0 auto 8px;
  padding: 16px;
  &__grid {
    display: block;
    margin: -8px auto;
    &--2col {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 8px;
    }
  }

  &__title {
    font-family: $secondaryFont;
    font-size: 20px;
    font-weight: 700;
    height: 32px;
    text-transform: uppercase;
  }

  &__group {
    margin: 12px auto;
  }

  &__label {
    font-family: $secondaryFont;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__status {
    color: $confirm;
    font-weight: 700;
    text-transform: capitalize;
  }

  &__badge {
    background: $red;
    border-radius: 12px;
    color: $white;
    cursor: default;
    font-family: $secondaryFont;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.2px;
    margin: 0 auto;
    padding: 4px 8px;
    text-align: center;
    text-transform: uppercase;
    user-select: none;
    width: 150px;
  }

  &__btn {
    align-items: center;
    align-content: center;
    background: var(--grad-dark-blue);
    border: none;
    border-radius: 18px;
    box-sizing: border-box;
    color: $white;
    cursor: pointer;
    display: flex;
    font-family: $secondaryFont;
    font-size: 18px;
    font-weight: 600;
    height: 36px;
    justify-content: center;
    letter-spacing: 2px;
    margin: 12px auto;
    outline: none;
    padding: 8px 14px;
    text-transform: uppercase;
    transform: scale(1);
    transition: background 0.2s ease-out, color 0.2s ease, transform 0.2s ease-out, height 0.2s ease, width 0.2s ease;
    width: 100%;
    //
    &:hover {
      background: $white;
      color: var(--grad-dark-blue);
    }
    &--cancel {
      background: $red;
      &:hover {
        background: $white;
        color: $red;
      }
    }
    &--renew {
      background: $confirm;
      &:hover {
        background: $white;
        color: $confirm;
      }
    }
  }
}
