/* Declare variables */
:root {
  --grad-light-blue: #255bde;
  --grad-dark-blue: #12368f;

  --light-blue: #143da1;
  --dark-blue: #00074d;

  --text-color: #fff;
}

// Colors
$white: #fff;
$lightBlue: lighten(#143da1, 10%);
$lighterBlue: lighten(#255bde, 5%);
$blue: #143da1;
$red: #D62839;
$yellow: #a17914;
$confirm: #02C39A;
$text: #12101A;
$paneBg: rgba(255, 255, 255, 0.1);
$desatBlue: #a1b3e0;

// Fonts
$primaryFont: 'Nexa', Helvetica, Arial, system-ui, sans-serif;
$secondaryFont: 'Montserrat', Helvetica, Arial, system-ui, sans-serif;
$fontSerif: Times New Roman, serif, system-ui;

// Measurements
$maxWidth: 360px;
$padding: 16px;

// Animations
$easeOut1: cubic-bezier(.39,.58,.57,1);
$easeOut2: cubic-bezier(0.86, 0, 0.07, 1);
$easeOut3: cubic-bezier(0.215, 0.61, 0.355, 1);
