.welcome {
  & h2 {
    font-size: 32px;
    letter-spacing: 8px;
  }
  & p {
    color: $white;
    font-family: $secondaryFont;
    font-size: 18px;
  }
  & a, & a:link, & a:visited, & a:active {
    color: #fff;
  }
  &__button {
    @extend .pwGen__copy;
    text-align: center;
    text-decoration: none;
    width: auto;
    &:hover {
      @extend .pwGen__copy:hover;
    }
  }
}
